*.swp
*.d
*.html
scripts/__pycache__
*.woff
*.crib
data/eventdb.js
data/next_event.js
fancy_nav.txt
fonts.css
fonts_gg.css
gazette/.htaccess
gazette/.users
gazette/*.html.in
membership_form.php
regular_nav.txt
scripts/cribs.sed
site2.js
slide_data.js
style2.css
templates/head.txt
templates/head_gg.txt
workshop_form.php
