/* Fonts */

/* General layout */
* {
	line-height: 1.25em;
}
body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: "Linux Biolinum O", "Linux Biolinum", sans-serif;
}
#regular_body {
	padding-left: 2em;
	padding-right: 2em;
}
#regular_body > h1 {
	text-align: center;
}
.five-up {
	width: 20%;
	float: left;
	text-align: center;
}
.three-up {
	width: 33%;
	float: left;
	text-align: center;
}
.left {
	text-align: left;
}
img {
	border: 0px;
}
.email {
	font-size: 75%;
}

/* Page Headers */
#logo {
	position: absolute;
	left: 8px;
	top: 8px;
	z-index: 1000;
}

#links {
	background: #0079c1;
	padding: 0px;
	margin: 0px;
	border: 0px;
	display: block;
}
#links[type = "embedded"] {
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 0px;
	right: 0px;
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}
#links > .container {
	margin-left: 144px;
}
.linkbox {
	width: 25%;
	float: left;
	text-align: center;
}
.linkbox > a {
	padding: 1em;
	color: white;
	display: inline-block;
}
.linkbox > a:hover {
	background: #f0f0f0;
	color: black;
	border-left: 1px solid #a0a0a0;
	border-right: 1px solid #a0a0a0;
}

/* Page footer */
#contact {
	background: #0079c1;
	color: white;
	padding-bottom: 4em;
	padding-top: 2em;
}
#contact div {
	line-height: 1.4em;
}
#contact a {
	color: white;
}

/* Front page stuff */
.container {
	overflow: hidden;
	margin-left: 2em;
	margin-right: 2em;
}
.container > h1 {
	text-align: center;
}
.container > p {
	padding-bottom: 2em;
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
}

#pictures {
	padding: 0px;
	position: relative;
}
.ss_container {
	position: relative;
}
.ss_item {
	display: none;
}
.ss_nav {
	z-index: 2;
	top: 50%;
	margin-top: -0.7em;
	height: 1.4em;
	width: 1.4em;
	position: absolute;
	font-size: 36pt;
	color: #c0c0c0;
	text-decoration: none;
	text-align: center;
	text-shadow: black 0px 0px 8px;
	cursor: pointer;
	transition: color linear 0.1s;
}
.ss_nav:hover {
	color: white;
	transition: color linear 0.1s;
}
.ss_previous {
	left: 0.25em;
}
.ss_next {
	right: 0.25em;
}
.slide {
	width: 100%;
	height: 1px;
	background-color: #0079c1;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.slide > a {
	font-size: 110%;
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #e0e0e0;
	text-shadow: 2px 2px 2px rgb(0, 0, 0);
	text-decoration: none;
	padding: 0.2em;
	transition: color linear 0.1s;
}
.slide > a > span {
	text-decoration: underline;
}
.slide > a:hover {
	color: white;
	transition: color linear 0.1s;
}

#regular_body {
	padding-top: 2em;
	padding-bottom: 4em;
}

#participate {
	padding-top: 2em;
	padding-bottom: 4em;
}
.p_section > div {
	padding-left: 0.3em;
	padding-right: 0.3em;
}
.p_section > .ps_header {
	font-weight: bold;
}
.p_section .ps_icon {
	border-radius: 500px;
}
#people {
	background: #99c1e4;
	padding-bottom: 2em;
	padding-top: 1em;
}
